/* opgave 1
scale on hover
*/

#scaler{
width: 200px;
height: 100;
transition: transform 1s, rotate 1s;
background-color: blue;
color: antiquewhite;
}


#scaler:hover{
transform: scale(2);
   rotate: 30deg;
background-color: blueviolet;
}


